<h1 class="mt-5">Orders processed</h1>

<table class="table table-striped">
  <thead>
    <th class="text-center">ID</th>
    <th class="text-center">Identifier</th>
    <th class="text-center">Customer</th>
    <th class="text-center">Date</th>
    <th class="text-center">Total</th>
    <th class="text-center">Options</th>
  </thead>
<tbody>
  <tr *ngFor="let order of orders">
    <td>{{order.id}}</td>
    <td class="text-center">{{order.identifier}}</td>
    <td>{{order.customer.name}}</td>
    <td class="text-center">{{order.dateTime | date:'yyyy-MM-dd HH:mm:ss Z'}}</td>
    <td class="text-center">{{order.total | currency}}</td>
    <td class="text-center">
      <a routerLink="/orders/{{order.id}}">
        <button type="button" class="btn btn-info" title="View">
         View
        </button>
      </a>
    </td>
  </tr>
</table>
<ngb-pagination class="d-flex justify-content-center" [collectionSize]="totalElements" [(page)]="page"
                (pageChange)="loadPage($event)" [maxSize]="5" [rotate]="true" [ellipses]="false" ></ngb-pagination>
