<h1 class="mt-5">Orders processed</h1>

<div class="table-responsive" style="margin-top: 20px">
  <table class="table table-striped">
    <thead>
    <th class="text-center">ID</th>
    <th class="text-center">Identifier</th>
    <th class="text-center">Customer</th>
    <th class="text-center">Date</th>
    <th class="text-center">Total</th>
    <th class="text-center">Options</th>
    </thead>
    <tbody>
    <tr *ngFor="let order of orders">
      <td>{{order.id}}</td>
      <td class="text-center">{{order.identifier}}</td>
      <td>{{order.customer.name}}</td>
      <td class="text-center">{{order.dateTime | date:'yyyy-MM-dd HH:mm:ss Z'}}</td>
      <td class="text-center">{{order.total}}</td>
      <td class="text-center">
        <a routerLink="/orders/{{order.id}}">
          <button type="button" class="btn btn-default" title="View">
            <span class="glyphicon glyphicon-new-window"></span>
          </button>
        </a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
