<h1 class="mt-5">Order</h1>

<form>
  <div class="form-row">
    <div class="form-group col-md-2">
      <label>ID: </label>
      <input value="{{order.id}}" class="form-control" readonly />
    </div>

    <div class="form-group col-md-2">
      <label>Identifier: </label>
      <input value="{{order.identifier}}" class="form-control" readonly />
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-3">
      <label>Date: </label>
      <input value="{{order.dateTime | date:'yyyy-MM-dd HH:mm:ss'}}" class="form-control" readonly />
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-12">
      <label>Customer: </label>
      <input value="{{order.customer.name}}" class="form-control" readonly />
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-2">
      <label>Total: </label>
      <input value="{{order.total | currency}}" class="form-control" readonly />
    </div>
  </div>

  <div class="form-row" style="margin-top: 20px">
    <div class="col-md-12">
      <a routerLink="/orders">
        <button type="button" class="btn btn-primary" title="Back">
          Back
        </button>
      </a>
    </div>
  </div>

</form>
